Repository firelab/windninja, pull requests merged in 2025-09, with the labels that each got.

#659 GUI Redesign Initial Ninja Com Integration
  .builds/clang.yml
  .builds/fedora.yml
  CMakeLists.txt
  autotest/CMakeLists.txt
  scripts/build_deps_rhel7.sh
  scripts/firelab_build.bat
  src/CMakeLists.txt
  src/cli/CMakeLists.txt
  src/cli/cmake_cli.cpp
  src/gui/CMakeLists.txt
  src/gui/main.cpp
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/menubar.h
  src/gui/surfaceinput.h
  src/ninja/CMakeLists.txt
  src/ninja/ninjaArmy.cpp
  src/ninja/ninjaArmy.h
  src/ninja/ninjaCom.cpp
  src/ninja/ninjaCom.h
  src/ninja/windninja.cpp
  src/ninja/windninja.h
Labels: component:gui

#661 GUI Redesigns Surface Input Improvements for DEM dowloading and reading
  data/map.html
  src/gui/surfaceinput.cpp
Labels: enhancement, component:gui

#668 GUI redesign add ninjaCom progress bar methods, for issue #654
  src/gui/mainwindow.cpp
  src/gui/mainwindow.h
  src/gui/surfaceinput.h
  src/ninja/ninja.cpp
  src/ninja/windninja.cpp
Labels: msu gui redesign
